.preloader-overlay.fade-out {
  opacity: 0 !important;
  pointer-events: none;
}

canvas.ghost-hero-canvas {
  opacity: 0;
}

canvas.ghost-hero-canvas.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
